USE [DEPO]
GO
/****** Object:  Trigger [dbo].[VERIF_PRET]    Script Date: 5/20/2021 7:27:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[VERIF_PRET] ON [dbo].[PC]
	AFTER UPDATE
	AS
	DECLARE @PRET_NOU FLOAT;
	DECLARE @PRET_VECHI FLOAT;
	DECLARE @MESS VARCHAR(200);
	IF UPDATE(PRET)
		BEGIN
			SET @PRET_NOU=(SELECT PRET FROM INSERTED);
			SET @PRET_VECHI=(SELECT PRET FROM DELETED);
			SET @MESS='S-A MODIFICAT PRETUL DIN '+CAST(@PRET_VECHI AS VARCHAR(20))+
			' LEI IN '+CAST(@PRET_NOU AS VARCHAR(20))+' LEI';
			EXEC MSDB.DBO.SP_SEND_DBMAIL
			@PROFILE_NAME='MCCMAIL',
			@RECIPIENTS='mr.marius05@mail.ru',
			@BODY=@MESS,
			@SUBJECT='MODIFICARE PRET-BD'
		END;